<h1>Sign in</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
	<div class="field">
		<p><%= f.label :email %></p>
		<p><%= f.text_field :email %></p>
	</div>
	<div class="field">
		<p><%= f.label :password %></p>
		<p><%= f.password_field :password %></p>
	</div>
	<div class="actions">
		<p><%= f.submit "Sign in" %></p>
	</div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
